---
layout: page
title: about
description: Engenheiro de software, artesão de bits e operário na construção do ciberespaço a mais de quinze anos, esteve a frente de diversos projetos de software.
---
<article>
  <p>Esse blog é um dispositivo mnemônico. Ao longo dos anos, tenho me ocupado com o estudo e documentação de temas diversos, apenas para perceber que mal consigo me lembrar da metade deles. Agora sofro do desejo nostálgico de recuperar o que é esquecido, e de arquivar o que vem para que não encontre o mesmo destino.</p>
</article>
<article>
  <h2 class="lower">~/f0rmig4.sh</h2>
  <hr>
</article>
<article>
  <p>-------------------------------------------------</p>
  <p>Engenheiro de software, artesão de bits e operário na construção do ciberespaço a mais de quinze anos, esteve a frente de diversos <a href="/projects/">projetos</a> de software.</p>
  <p>Ativista no movimento de software livre e conhecimento livre. Colaborador no coletivo AOS (Autonomia OpenSource), uma rede de colaboradores voltada para o desenvolvimento, aprimoramento e popularização de soluções tecnológicas e ferramentas de hardware aberto.</p> 
  <p>Desenvolve habilidades com alimentação viva, agricultura urbana, música e arte de rua.</p>
  <p>Leia minha <a href="/bio">autobiografia</a> e meu <a href="/cv">currículo</a> completo.</p>
</article>
<article>
  <h2 class="lower">~/tec.sh</h2>
  <p>-------------------------------------------------</p>
  <p>Python, JS, PHP, Ruby, Shell, C#, Java, C ANSI;</p>
  <p>React.js, Vue.js, Angular.js, Laravel, Rails, Django, CakePHP, Codeigniter, C# MVC;</p>
  <p>MySQL, MsSQL, Oracle, PostgreSQL;</p>
</article>
<article>
  <h2 class="lower">~/contacts.sh</h2>
  <p>Sinta-se à vontade para me enviar um e-mail em resposta a qualquer coisa neste site. Se você quiser criptografá-lo, aqui está minha <a href="/pgp" alt="pgp f0rmig4">chave pgp</a></p>
</article>