---
layout: page
title: talks
description: Talks ministradas pelo @f0rmig4
---

<p>Falar de tecnologia e compartilhar conhecimento é realmente duas coisas que amo fazer. Abaixo trago um log de coding dojos e palestras que eu já ministrei ou estão por vir.</p>
<h3 class="posts-item-note">2022</h3>
<article class="post-item">
  <span class="post-item-date">Jun</span>
  <h4 class="post-item-title">
    <a href="https://gitlab.com/coletivofarpa/coding-dojos/-/tree/main/anti-natal">Coding Anti Natal | Coletivo Tecnologia Social FARPA</a>
  </h4>
</article>

<h3 class="posts-item-note">2021</h3>
<article class="post-item">
  <span class="post-item-date">Nov</span>
  <h4 class="post-item-title">
    <a href="#">Muvuca Hack Festival| O movimento Hacker</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Jun</span>
  <h4 class="post-item-title">
    <a href="https://github.com/matehackers/codingdojo/tree/master/28-08-21">Coding Dojo JS | Hackerspace MateHackers</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Jul</span>
  <h4 class="post-item-title">
    <a href="http://f0rmig4.gitlab.io/talk/pipeline-cicd">Dumont Fest Maceio | Pipeline CI/CD com Django e Github Actions</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Jun</span>
  <h4 class="post-item-title">
    <a href="http://f0rmig4.gitlab.io/talk/pipeline-cicd">Meetup Resale | Pipeline CI/CD com Django e Github Actions</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Jun</span>
  <h4 class="post-item-title">
    <a href="https://github.com/matehackers/codingdojo/tree/master/24-06-21">Coding Dojo Python | Hackerspace MateHackers</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">May</span>
  <h4 class="post-item-title">
    <a href="http://f0rmig4.gitlab.io/talk/gatsbyjs">FrontTalks Gufers | Leve sua aplicação web em outro nível com Gatsby.js</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Apr</span>
  <h4 class="post-item-title">
    <a href="http://f0rmig4.gitlab.io/talk/gatsbyjs">Meetup Impulso React | Leve sua aplicação web em outro nível com Gatsby.js</a>
  </h4>
</article>

<h3 class="posts-item-note">Other</h3>
<article class="post-item">
  <span class="post-item-date">Nov, 2020</span>
  <h4 class="post-item-title">
    <a href="http://f0rmig4.gitlab.io/talk/lgpd">Noz Talks | LGPD. E agora José?</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Jun, 2013</span>
  <h4 class="post-item-title">
    <a href="https://f0rmig4.gitlab.io/talk/angularjs">KingHost Talk | Hello AngularJS</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Apr, 2012</span>
  <h4 class="post-item-title">
    <a href="https://f0rmig4.gitlab.io/talk/jekyll/">FLISOL | Blogando como um Hacker - Jekyll</a>
  </h4>
</article>
<article class="post-item">
  <span class="post-item-date">Jun, 2011</span>
  <h4 class="post-item-title">
    <a href="#">Tchê Linux | Desenvolvimento Web Ágil com CakePHP</a>
  </h4>
</article>